{% assign cscheme = site.data.color-schemes[include.color-scheme] %}

$bg-1: {{ cscheme.bg-1 }};
$bg-2: {{ cscheme.bg-2 }};
$bg-3: {{ cscheme.bg-3 }};
$text-color: {{ cscheme.text-color }};
$acc-1: {{ cscheme.acc-1 }};
$acc-2: {{ cscheme.acc-2 }};

{% if cscheme.bg-img %}
  $bg-img: '{{ '../images/' | append: cscheme.bg-img }}';
{% endif %}

{{ cscheme.custom-scss }}
